@{
    ViewBag.Title = "Alerts";
}

<meta http-equiv="refresh" content="100" />
<h2>Alerts</h2>

<table class="table-bordered table-condensed">
    <tr>
        <th>Name</th>
        <th>Status</th>
        <th>Comments</th>
        <th>Time of last value</th>
    </tr>
    <tbody id="alerts" data-bind="foreach: alerts, visible: alerts().length > 0">
        <tr class="alert" data-bind="attr: { class: cssClass}">
            <td class="name" data-bind="text: name"></td>
            <td class="level" data-bind="text: level"></td>
            <td class="comments" data-bind="text: comments"></td>
            <td class="timestamp" data-bind="text: timestamp"></td>
            <td><a data-bind="attr: { href: chartUrl }">See more details</a></td>
        </tr>
    </tbody>
</table>

<footer>
    <p>Last refreshed @DateTime.Now.ToString("G")</p>
</footer>